//IconButton styles
$iconSize: 40%;
$leftAndBottom: (100% - $iconSize) / 2;

.btn-container {
  position: relative;
  width: 25%;
  img {
    display: block;
    width: 100%;
  }
  .btn-icon {
    position: absolute;
    bottom: $leftAndBottom;
    left: $leftAndBottom;
    width: $iconSize;
    height: $iconSize;
  }
}
