$houseMaxWith: 20%;
$houseMaxWithHover: $houseMaxWith * 1.5;

.houses-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  .btn-house {
    max-width: $houseMaxWith;
    max-height: 80%;
    position: relative;
    margin: auto;
  }
  .btn-house:hover {
    cursor: pointer;
    max-width: $houseMaxWithHover;
  }
}
